<div class="modal" tabindex="-1" id="modal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Perfil de Usuario</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <img [src]="userSelected.picture" class="img-thumbnail" />
          </div>
          <div class="col-8">
            <h4>{{ userSelected.firstName }} {{ userSelected.lastName }}</h4>
            <p><i class="far fa-envelope"></i> - {{ userSelected.email }}</p>
            <p><i class="fas fa-venus-mars"></i> - {{ userSelected.title }}</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-dismiss="modal"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
