<!-- 
<div class="modal-dialog modal-dialog-scrollable">
  
  </div> -->
<div
  class="modal"
  tabindex="-1"
  id="modal-comments"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Comentarios</h3>
      </div>

      <app-comments *ngIf="loading"></app-comments>

      <app-loading-modal *ngIf="!loading"></app-loading-modal>

      <div class="modal-footer">
        <button
          (click)="activeLoading()"
          type="button"
          class="btn btn-outline-danger"
          data-dismiss="modal"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
