/* You can add global styles to this file, and also import other style files */
.links {
    &:hover {
        color: #007bff;
    }
}

.cursor {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
